* {
    margin: 0;
    padding: 0;
    font-family: Diplomata SC;
}

body {
    background-color: rgba(255, 57, 57, 0.877);
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav"
        "peliculas"
        "comidaBebida"
        "merchandising";
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

#peliculas {
    background-color: rgba(121, 25, 25, 0.877);
    grid-area: "peliculas";
}

#comidaBebida {
    background-color: rgba(255, 57, 57, 0.877);
    grid-area: "comidasBebidas";
}

#merchandising {
    background-color: rgba(121, 25, 25, 0.877);
    grid-area: "merchandising";
}

.card {
    margin: 50px 20px
}

#carritoModal{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
#carrito img{
    height: 100px;
}